.item {
    width: 325px;
    height: 119px;
    display: flex;
    gap: 21px;
    border-radius: 20px;
    border: 1px solid #F3F3F3;
    background: #FFF;
    padding: 20px;
}

.item__img {

    img {
        width: 70px;
        height: 70px;

    }
}

.item__text {
    max-width: 160px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}

.item__cost {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}


.item__price {
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    flex-direction: row;
}

.item__description {
    padding-top: 5px;
}