
body {
    margin: 0;
    background-color: #97e7a3;
    font-family: 'Inter', sans-serif; 

}

.container {
    padding: 0 60px
}

.wrapper {
    margin: 0 auto;
    margin-top: 85px;
    padding-bottom: 20px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
    max-width: 1080px;
}


.main_photo {
    margin-bottom: 40px;
}




 



